<div data-role="header">
  <h1><%= @denuncias_transito.municipio %> </h1>
</div>
<div data-role="content">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Numpatrulla:</b>
    <%= @denuncias_transito.numPatrulla %>
  </p>

  <p>
    <b>Numoficial:</b>
    <%= @denuncias_transito.numOficial %>
  </p>

  <p>
    <b>Appaterno:</b>
    <%= @denuncias_transito.apPaterno %>
  </p>

  <p>
    <b>Apmaterno:</b>
    <%= @denuncias_transito.apMaterno %>
  </p>

  <p>
    <b>Lugarhecho:</b>
    <%= @denuncias_transito.lugarHecho %>
  </p>

  <p>
    <b>Municipio:</b>
    <%= @denuncias_transito.municipio %>
  </p>

  <p>
    <b>Fecha:</b>
    <%= @denuncias_transito.fecha %>
  </p>

  <p>
    <b>Hora:</b>
    <%= @denuncias_transito.hora %>
  </p>

  <p>
    <b>Descripcion:</b>
    <%= @denuncias_transito.descripcion %>
  </p>


  <%= link_to 'Edit', edit_denuncias_transito_path(@denuncias_transito) %> |
  <%= link_to 'Back', denuncias_transitos_path %>
</div>